

#banner.hero-unit
  .container
  
    h1 'klik, 'Klik!
    p.lead Login to enjoy the beauty of clickable videos
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

footer.footer
  .container
    p
      | Klik v0.0.1
      = ' | '
      a(href='http://messieurs.ch') Messieurs.ch
      